body {
    background-color: #E74C3C;
}

h1 {
    color: #ECF0F1;
}

button {
    background-color: #ECF0F1;
    border-color: #7F8C8D;
}

button:hover {
    background-color: #95A5A6;
    border-color: #7F8C8D;
}

* {
    transition: all 0.25s ease-in-out;
}

.center-container {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 50%;
    margin-top: -150px;
    text-align: center;
}
